/* @import 'bootstrap/dist/css/bootstrap.min.css'; */
@import "tailwindcss";

.propsData{
  background-color: green;
  color:white;
  padding:20px;
}


@layer components{
  .heading{
    @apply bg-pink-700 text-white font-black text-4xl p-4 text-center
  }
  .btn{
    @apply bg-blue-700 text-white 
  }
}